################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Release
/bin/Debug
/bin/x64/Debug
